body{
    margin: 0;
    padding-top: 70px;
    font-family: 'Open Sans',Arial;
    font-size: 14px;
    color: #153F45;
}

/* Classe pour masquer rapidement un élément */
.mask{
    display:none;
}

header{
    position: fixed;
    top: 0;
    height: 40px;
    width:100%;
    z-index: 9999;
    background-color:#0C191B;
    color: #FFFFFF;
}
#headerLeft{
    margin-top: 5px;
    width: 50%;
    float:left;
}

#headerLeft img{
    position: relative;
    top: -12px;
    float:left;
    height: 48px;
}
#headerLeft h1{
    margin: 0px 0px 0px 10px;
    float:left;
}
#headerRight{
    float:left;
    width: 50%;
    float:left;
    text-align:right;
}

#headerRight div{
    margin: 8px;
    color: #153F45;
}

#headerRight input{
    border: 0px solid black;
    padding: 3px;
}

.press_input{
    background-color: #088292;
    width: 25%;
    text-align:center;
}

.login{
    width: 30%;
}

#search{
    border: 0px solid black;
    width: 70%;
}

#content{
    width: 75%;
    margin: auto;
}

.block{
    width: 100%;
    background-color: #b1dbe0;
    /* border: 1px solid #40a7b2; */
}

.inner{
    margin: 5px;
}

.left_block{
    /* border: 1px solid red; */
    width: 68%; 
    float:left;
}

.inner div img{
    width: 75%;
}

.hr_clear{
    visibility: hidden;
    clear:both;
}

#block_logo{
    text-align: right;
    width:30%;
    float:left;
    position:relative;
    /* bottom: -30px; */
    /* right: -30pxs */
}

.left_block h2{
    margin: 4px;
    border-bottom: 1px solid #40a7b2;
}